# Ignore node_modules directory
node_modules/

# Ignore environment variables file
.env

# Ignore local development files
*.local

# Ignore IDE specific files
.idea/
.vscode/

# Ignore build artifacts
build/
dist/

# Ignore log files
*.log

# Ignore temporary files
*.tmp

.trae

.DS_Store